HIVESEC_LOG_LEVEL=INFO
HIVESEC_SCANNER_OUTBOX_ROOT=~/Library/Application Support/Data Breach Scanner/outbox
HIVESEC_DATA_DIR=~/Library/Application Support/HiveSec Sentinel
HIVESEC_MAX_EVENT_BYTES=65536

HIVESEC_GROK_BASE_URL=https://api.x.ai/v1
HIVESEC_GROK_MODEL=grok-4.3
# HIVESEC_XAI_API_KEY=

HIVESEC_TELEGRAM_BOT_USERNAME=hivesecsentinelbot
# HIVESEC_TELEGRAM_BOT_TOKEN=
# HIVESEC_TELEGRAM_CHAT_ID=

HIVESEC_GITHUB_REPOSITORY=rafpt/bash-site
# HIVESEC_GITHUB_TOKEN=
